<ol class="post-list list-group">
    {{#each posts}}
  <li>
    <article class="posts list-item">
      <div class="title">
          <p>{{title}}</p>
          <p>{{posts_text}}</p>
      </div>
      <div class="meta">
       Posted by {{user.username}} {{created_at}}
        <a href="/posts/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>